# Strava API credentials
# Get these from https://www.strava.com/settings/api
STRAVA_CLIENT_ID=260628
STRAVA_CLIENT_SECRET=87e49e77589f4ff35de2472bd4820b1af8fe347b
STRAVA_REDIRECT_URI=http://localhost:5002/strava/callback

# For production, set to your deployed URL:
# STRAVA_REDIRECT_URI=https://yourdomain.com/strava/callback
